body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
}
h1{
    text-align: center;
    margin-top: 100px;
}
p{
    text-align: center;
}
img{
    max-width: 100%;
    display: block;
}
header{
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.menu{
    display: flex;
}
.menu li{
    margin: 10px;
}
.menu li a{
    padding: 10px;
    background-color: black;
    color: white;
}

/*CSS flexbox 1*/

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0px auto;
}
.flex>div{
    flex: 1 1 200px;
    margin: 10px;
}

/*CSS Grid 1*/

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
    grid-gap: 20px;
    text-align: center;
}
.grid1>div:nth-child(n + 4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.grid1>div.anuncio{
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
}

@media (max-width:600px) {
    .grid1 {
        grid-template-columns: repeat(2,1fr);
    }
    .grid1>div:nth-child(n + 4){
        display: block;
    }
    .grid1>div.anuncio{
        grid-row: auto;
        grid-column: auto;
        order: -1;
    }
}

/*CSS Grid 2*/

.grid2{
    display: grid;
    grid-template-columns:1fr 200px;
    grid-gap: 20px;
    padding: 10px;
    margin: 0px auto;
    max-width: 1000px;
}
.sidebar>div{
    margin-bottom: 10px;
}

@media (max-width: 600px){
    .grid2{
        grid-template-columns: 1fr;
    }
    .sidebar{
        display: flex;
        overflow: scroll;
    }
    .sidebar>div{
        margin: 0 10px;
        flex: 1 0 200px;
    }
}

/*CSS Grid 3*/
.grid3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.grid3-item:nth-child(1){
    grid-row: 1 / 3;
}
.grid3-item{
    display: grid;
}
.grid3-item>img{
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: end;
}
.grid3-item > p{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    grid-column: 1;
    padding: 10px;
    grid-row: 2;
    align-self: end;
}